USE [master]
GO
/****** Object:  Database [soccer_club_sqldb]    Script Date: 10/1/2025 4:20:24 PM ******/
CREATE DATABASE [soccer_club_sqldb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'soccer_club_sqldb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\soccer_club_sqldb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'soccer_club_sqldb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\soccer_club_sqldb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [soccer_club_sqldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [soccer_club_sqldb]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 10/1/2025 4:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[ContentKey] [nvarchar](100) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Locale] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentMedia]    Script Date: 10/1/2025 4:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[MediaId] [int] NOT NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 10/1/2025 4:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[MediaUrl] [nvarchar](500) NOT NULL,
	[MediaType] [nvarchar](50) NOT NULL,
	[AltText] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 10/1/2025 4:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 10/1/2025 4:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SectionType] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[BackgroundMediaId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/1/2025 4:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([Id], [SectionId], [ContentKey], [ContentType], [Value], [Locale], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'headline', N'text', N'Train the Brain. Play Insane. Own the Game', NULL, 1, CAST(N'2025-09-01T17:32:30.2945644' AS DateTime2), 1, CAST(N'2025-09-08T11:56:57.9895202' AS DateTime2), NULL)
INSERT [dbo].[Content] ([Id], [SectionId], [ContentKey], [ContentType], [Value], [Locale], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'subhead', N'text', N'Your success is ours', NULL, 1, CAST(N'2025-09-01T17:32:30.2945644' AS DateTime2), 1, CAST(N'2025-09-08T11:56:57.9897639' AS DateTime2), NULL)
INSERT [dbo].[Content] ([Id], [SectionId], [ContentKey], [ContentType], [Value], [Locale], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, N'cta-text', N'text', N'LEARN MORE', NULL, 1, CAST(N'2025-09-01T17:32:30.2945644' AS DateTime2), 1, CAST(N'2025-09-08T11:56:57.9897722' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([Id], [FileName], [MediaUrl], [MediaType], [AltText], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (5, N'img1.jpg', N'/uploads/img1.jpg', N'image', N'Youth player training', 1, CAST(N'2025-09-01T17:30:17.5994694' AS DateTime2), 1, CAST(N'2025-09-01T17:30:17.5994694' AS DateTime2), NULL)
INSERT [dbo].[Media] ([Id], [FileName], [MediaUrl], [MediaType], [AltText], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (6, N'img2.jpg', N'/uploads/img2.jpg', N'image', N'Player development training', 1, CAST(N'2025-09-01T17:30:17.5994694' AS DateTime2), 1, CAST(N'2025-09-01T17:30:17.5994694' AS DateTime2), NULL)
INSERT [dbo].[Media] ([Id], [FileName], [MediaUrl], [MediaType], [AltText], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (7, N's1.jpg', N'/uploads/s1.jpg', N'image', N'Rec Fall 2025 Registration', 1, CAST(N'2025-09-01T17:30:17.5994694' AS DateTime2), 1, CAST(N'2025-09-01T17:30:17.5994694' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [Slug], [Title], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'home', N'Home Page', 1, CAST(N'2025-09-01T17:29:07.5245658' AS DateTime2), 1, CAST(N'2025-09-01T17:29:07.5245658' AS DateTime2), NULL)
INSERT [dbo].[Pages] ([Id], [Slug], [Title], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'about', N'About Us', 1, CAST(N'2025-09-02T17:07:56.2172969' AS DateTime2), 1, CAST(N'2025-09-02T17:07:56.2172969' AS DateTime2), NULL)
INSERT [dbo].[Pages] ([Id], [Slug], [Title], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'recreational', N'Recreational Program', 1, CAST(N'2025-09-04T14:41:36.8155010' AS DateTime2), 1, CAST(N'2025-09-04T14:41:36.8155010' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([Id], [PageId], [Name], [SectionType], [SortOrder], [BackgroundMediaId], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'Hero Section', N'hero', 1, NULL, 1, CAST(N'2025-09-01T17:31:25.6170578' AS DateTime2), 1, CAST(N'2025-09-08T11:56:57.9897777' AS DateTime2), NULL)
INSERT [dbo].[Sections] ([Id], [PageId], [Name], [SectionType], [SortOrder], [BackgroundMediaId], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'Whats New Carousel', N'carousel', 2, NULL, 1, CAST(N'2025-09-01T17:31:25.6170578' AS DateTime2), 1, CAST(N'2025-09-08T13:16:26.1106083' AS DateTime2), NULL)
INSERT [dbo].[Sections] ([Id], [PageId], [Name], [SectionType], [SortOrder], [BackgroundMediaId], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, N'Youth Experience', N'content-image', 3, NULL, 1, CAST(N'2025-09-01T17:31:25.6170578' AS DateTime2), 1, CAST(N'2025-09-08T13:20:09.4924749' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'admin@soccerclub.com', N'AQAAAAIAAYagAAAAENrVmxrDHZvaUUgmasckcFNi77VoeE4d1CoHwuNjhoJkaTFUWoBEwELCm+6DoKnmvA==', N'Admin', CAST(N'2025-08-29T15:00:29.7600000' AS DateTime2), CAST(N'2025-08-29T15:00:29.7600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pages__BC7B5FB6D77F54BE]    Script Date: 10/1/2025 4:20:26 PM ******/
ALTER TABLE [dbo].[Pages] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10/1/2025 4:20:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 10/1/2025 4:20:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Content] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Content] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Content] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ContentMedia] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ContentMedia] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ContentMedia] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContentMedia] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Media] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Media] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Media] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ContentMedia]  WITH CHECK ADD FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentMedia]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ContentMedia]  WITH CHECK ADD FOREIGN KEY([MediaId])
REFERENCES [dbo].[Media] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentMedia]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD FOREIGN KEY([BackgroundMediaId])
REFERENCES [dbo].[Media] ([Id])
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
USE [master]
GO
